<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="footer-logo">
          <img src="{{ .Site.Params.footerlogo | absURL}}" alt="logo">
        </div>
        <p class="footer-description">
          {{ .Site.Params.footerDescription}}
        </p>
        <div class="footer-text-block">
          <p>
            {{ .Site.Params.address.address | safeHTML}}
          </p>
        </div>
      </div>
      {{ $socialIcon := .Site.Params.social}}
      <div class="col-lg-6 col-md-12 align-self-end">
        <div class="footer-icon">
          <ul>
            {{ range $socialIcon }}
						<li >
              <a target="_blank" href="{{ .url }}">
                <i
									class="{{ .icon }}">
                </i>
              </a>
						</li>
						{{ end }}
          </ul>
        </div>
        <div class="footer-copyright-text">
          <p> {{ replace .Site.Params.copyright "{year}" now.Year | safeHTML }} </p>
          <ul>
            {{ $sitemap := .Site.Menus.sitemap }}
						{{ range $sitemap }}
						  <li >
                <a  href="{{ .URL | absURL }}">{{ .Name }}</a>
              </li>
						{{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{{ "<!-- Non Critical CSS -->" | safeHTML }}
{{$style :=  resources.Get "scss/non-critical.scss" | resources.ToCSS | resources.Minify }}
<link href="{{ $style.Permalink }}" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.Map.APIkey }}&libraries=geometry">
</script>
{{ "<!-- VENDOR JS -->" | safeHTML }}
<script src="{{"vendor/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{"vendor/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{"vendor/slick/slick.min.js" | absURL}}"></script>
<script src="{{"vendor/aos/aos.js" | absURL}}"></script>
<script src="{{"vendor/match-height/match-height.js" | absURL}}"></script>
<script src="{{"vendor/magnific-popup/magnific-popup.min.js" | absURL}}"></script>
<script src="{{"vendor/g-map/gmap.js" | absURL}}"></script>
<!-- {{ $formhandler := resources.Get "js/formhandler.js" | minify}} 
<script src="{{ $formhandler.Permalink}}"></script> -->
{{ $script := resources.Get "js/script.js" | minify}} 
<script src="{{ $script.Permalink }}"></script>


<!-- Read the Formbutton docs at formspree.io/formbutton/docs. See more examples at codepen.io/formspree -->
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  /* paste this line in verbatim */
  window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
  /* customize formbutton below*/     
  formbutton("create", {
    action: "https://formspree.io/f/xeqwqnjw",
    title: "Contact Us",
    description: "We'll respond to your question or comment within 2 business days.",
    fields: [
      { 
        type: "email", 
        label: "Email:", 
        name: "email",
        required: true,
        placeholder: "your@email.com"
      },
      {
        type: "textarea",
        label: "Message:",
        name: "message",
        required: true,
        placeholder: "What's on your mind?",
      },
      { type: "submit" }      
    ],
    styles: {
      title: {
        backgroundColor: "gray"
      },
      description: {
        backgroundColor: "#283fed"
      },
      button: {
        backgroundColor: "#1898d9"
      }
    }
  });
</script>
